{% extends "layouts/default.njk" %}

{% block content %}
        <!-- Main content -->
        <main class="container group" role="main">
            {% include "partials/example.njk" %}
        </main>
{% include "partials/footer.njk" %}
{% endblock %}
